body {
  background-color: #3182bd !important;
}

.page {
  background-color: #3182bd !important;
}

.site-footer {
  background-color: #3182bd !important;
}

#header_wrap {
    background-color: #3182bd !important; /* Forza el color de fondo a #3182bd */
}

#header_wrap .inner {
    background-color: #3182bd !important; /* Forza el color de fondo del contenedor interno a #3182bd */
}

/* Oculta la sección de Recursos */
nav a[href="/recursos"] {
    display: none;
}
.side-images {
    display: flex;
    justify-content: space-between;
}

.side-images img {
    width: 20%;
    height: auto;
}

.main-content {
    width: 60%;
    text-align: center;
}
