body {
  background-color: #3182bd !important;
}

.page {
  background-color: #3182bd !important;
}

.site-footer {
  background-color: #3182bd !important;
}

#header_wrap {
    background-color: #3182bd !important; /* Forza el color de fondo a #3182bd */
}

#header_wrap .inner {
    background-color: #3182bd !important; /* Forza el color de fondo del contenedor interno a #3182bd */
}


.image-left {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px; /* Ajusta el ancho según prefieras */
  height: 100%;
  z-index: -1; /* Para que esté detrás del contenido */
}

.image-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-right {
  position: fixed;
  top: 0;
  right: 0;
  width: 150px; /* Ajusta el ancho según prefieras */
  height: 100%;
  z-index: -1; /* Para que esté detrás del contenido */
}

.image-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
width: 60%;
    text-align: center;
}
