body {
  background-color: #3182bd !important;
}

.page {
  background-color: #3182bd !important;
}

.site-footer {
  background-color: #3182bd !important;
}

.header {
    background-color: #3182bd;
}
